@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
}

@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
} 

#body {
    background-color: #FAE5D3
}

#var {
    width:400px;
    margin-left:365px
}

#var-visual {
    width:400px;
    margin-left:290px
}

#var-room {
    width:400px;
    margin-left:290px
}


#penalty-save {
    width:400px;
    margin-left:290px;
}


h1 {
    text-align: center;
    font-weight:bold;
}

h2 {
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    
}

p {
    font-size: 17px;
    margin-left: 35px
}

#penalty-save-label {
    margin-left: 250px;
    font-size: 11px;
}

#prem-table-no-var {
    width:350px;
    margin-left: 400px
}

#standings-label {
    margin-left:370px;
    margin-right:300px;
    font-size: 11px
}

#var-goal-chart {
    width:700px;
    margin-left:250px;
}

#var-pie-chart {
    width:500px;
    margin-left:250px
}