#body {
background-color: #1F109F;
}


#headshot {
    width:300px;
    margin:0px;
}

#topper {
    background-color: #1F109F
}

button{
    background-color: white;
    color:#9368b7;
    font-family: 'open sans', sans-serif;
    width: 200px;
    padding: 10px;
    margin: 0px;
    border-radius: 8px;
    border:none;
    
}

button:hover {
    background-color: #00aacc
}

h1 {
    font-family: 'oswald', sans serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color:#00aacc;
    text-align: center;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    background-color:#1F109F;
    color: #14DD36;
    text-align: center;  
    
    
}

h3 {
    color: #ED1313;
    position:relative; top:10px;
}
 
h4 {
    color:#ED1313;
    position:relative; top:-5px;
}

h5 { 
    color:#ED1313;
    position:relative; top:-20px;
}

p {
    
    color:#9368b7;
    position:relative; top:-20px
}

nav {
    background-color:white;
    color:#00aacc;
}

<!--Contact Button End-->


<!--Image-->

.center {
    
}

#footer {
    background-color:#9368b7;
    color:#000000;
}

nav ul li{
    display:inline-block;
}